<div class="card" style="max-width: 100%; height: auto;"></div>
    <div class="card-header">
      Profile
    </div>
    <img class="card-img-top"
      src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/p960x960/78338120_2599417850125678_4836453262028701696_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_eui2=AeGULURox8HW3StqUzALMWi0AEgSX5U0-J9MHC1Dexmk77MahYfST8bFjTLYB3FrdbmjP6Z5hwc71kcv7FcxQDv3aAxAJykMVCpzmCPnzSBJ9A&_nc_ohc=0OYQyXtSxCoAX_4EO5z&_nc_ht=scontent.fbkk26-1.fna&_nc_tp=6&oh=89b463455f115f739482411314990ad5&oe=5EA0A97E"
      alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{getName()}}</h4>
      <p class="card-text">
          <li>StudentID: {{id}}</li>
          <li>Age: {{2020-year}}</li>
      </p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
